
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Reaping Agriculture Category Flat Bootstrap Responsive Website Template | Home : W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Reaping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script><script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
    <!-- css files -->
	<link rel="stylesheet" href="../bundles/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="../bundles/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="../bundles/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!--web font-->
	  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
	<!--//web font-->
</head>
<body>
<div id="page" class="page">
<header>	
	<nav class="mnu editContent">
		<div class="container">
            <div class="logo" id="logo">
                <h1><a class="editContent" href="index.html">Reaping</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu mt-1">
                        <li class="active"><a class="mx-lg-3 mx-2" href="index.html">Home</a></li>
						<li><a href="#services" class="scroll mx-lg-3 mx-2">Services</a></li>
                        <li><a href="#about" class="scroll mx-lg-3 mx-2">About</a></li>
						<li><a href="#news" class="scroll mx-lg-3 mx-2">News</a></li>
                        <li><a href="#contact" class="scroll mx-lg-3 mx-2">Contact</a></li>
                    </ul>
		</div>
    </nav>
</header>
<!-- banner -->
<div class="banner bg bg2" data-selector=".bg.bg2">
	<div class="agile_banner_info">
		<div class="row banner_agile_para editContent">
			<div class="col-lg-9 ban-text">
				<h2 class="editContent">Nulla viverra pharetra sem, eget pulvinar neque</h2>
			</div>	
			<div class="col-lg-3 ban-buton">
				<a href="#services" class="btn" data-toggle="modal" data-target="#exampleModalCenter" role="button"> Read More </a>
			</div>
		</div>	
	</div>
</div>
<!-- //banner -->	
 <!-- what we do -->
	 <section class="wedo py-5 editContent" id="services">
		<div class="container py-lg-5">
			<div class="w3l_head1">
				<h4 class="heading text-center editContent">Services</h3>
				<p class="subs1 mt-4 text-center mx-auto editContent">Integer porttitor mollisar lorem, at molestie arcu pulvinar ut</p>
			</div>
			<div class="row about-info-grids text-center editContent pb-lg-5 pb-3 mt-3">
							<div class="col-md-4 about-info pt-lg-5 pt-3 about-info1 editContent">
								<span class="fa fa-tint"></span>
								<h4 class="editContent">Sit amet</h4>
								<p class="editContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="col-md-4 about-info pt-lg-5 pt-3 about-info2 editContent">
								<span class="fa fa-leaf"></span>
								<h4 class="editContent">Adipisicing</h4>
								<p class="editContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
							<div class="col-md-4 about-info pt-lg-5 pt-3 about-info3 editContent">
								<span class="fa fa-pagelines"></span>
								<h4 class="editContent">Dolor sit</h4>
								<p class="editContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
					</div>
	 </div>
	</section>
	 <!-- //what we do -->
<!-- news -->
	<section class="news py-5 editContent" id="about">
		<div class="container py-lg-5">
			<div class="w3l_head">
				<h3 class="heading text-center editContent">About Us</h3>
				<p class="subs mt-4 text-center mx-auto editContent">Integer porttitor mollisar lorem, at molestie arcu pulvinar ut</p>
			</div>		
				<div class="row news-grids pb-lg-5 pb-3 mt-3 text-center">
						<div class="col-md-4 pt-lg-5 pt-3 newsgrid1 editContent">
							<img src="../bundles/images/g1.jpg" alt="news image" class="img-fluid">
							<div class="news_btm mt-4">
								<h6 class="editContent">Etiam eu ante risus</h6>
								<p class="editContent">Praesent semper </p>
							</div>
						</div>
						<div class="col-md-4 pt-lg-5 pt-3 mt-md-0 mt-5 newsgrid2 editContent">
							<img src="../bundles/images/g2.jpg" alt="news image" class="img-fluid">
							<div class="news_btm mt-4">
								<h6 class="editContent">Etiam eu ante risus</h6>
								<p class="editContent">Praesent semper </p>
							</div>
						</div>
						<div class="col-md-4 pt-lg-5 pt-3  mt-md-0 mt-5 newsgrid3 editContent">
							<img src="../bundles/images/g3.jpg" alt="news image" class="img-fluid">
							<div class="news_btm mt-4">
								<h6 class="editContent">Etiam eu ante risus</h6>
								<p class="editContent">Praesent semper </p>
							</div>
						</div>
				</div>
			<p class="text-center editContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.</p>
		</div>
	</section>
<!-- //news -->
<!-- news-bottom -->
<section class="news-bottom py-5 editContent">
	<div class="container py-lg-5">
		<div class="newsgrid1 text-center">
			<div class="w3l_head1">
				<h4 class="heading text-center editContent"> porttitor mollisar lorem</h3>
				<p class="subs1 mt-4 text-center mx-auto editContent">Integer porttitor mollisar lorem, at molestie arcu pulvinar ut</p>
			</div>
			<p class="mt-4 editContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. pellentesque mi non laoreet eleifend porttitor mollisar</p>
		</div>
			
		
	</div>
</section>
<!-- //news-bottom -->
<!-- blog -->	
<section class="blog_w3l py-5 editContent" id="news">
	<div class="container py-lg-5">
			<div class="w3l_head">
				<h4 class="heading text-center editContent">Our News</h4>
				<p class="subs mt-4 text-center mx-auto editContent">Integer porttitor mollisar lorem, at molestie arcu pulvinar ut</p>
			</div>
		<div class="row blog_w3l_top py-lg-5 py-3 mt-3 ">
			<div class="col-lg-6 blog_w3l_left">
				<div class="row blog_w3l_left1 editContent">
					<div class="col-md-5 blog_w3l-1">
						<img src="../bundles/images/g4.jpg" alt="news image" class="img-fluid">
					</div>
					<div class="col-md-7 blog_w3l-2 editContent">
						
						<h3 class="editContent">pellentesque mi non</h3>
						<p class="mt-3 editContent">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut.</p>
					</div>
				</div>
				<div class="row blog_w3l_left2 editContent">
					<div class="col-md-5 blog_w3l-1">
						<img src="../bundles/images/g5.jpg" alt="news image" class="img-fluid">
					</div>
					<div class="col-md-7 blog_w3l-2 editContent">
						
						<h3 class="editContent">pellentesque mi non</h3>
						<p class="mt-3 editContent">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut.</p>
					</div>
				</div>
				
			</div>
			<div class="col-lg-6 blog_w3l_right">
				<div class="row blog_w3l_left1 editContent">
					<div class="col-md-5 blog_w3l-1">
						<img src="../bundles/images/g6.jpg" alt="news image" class="img-fluid">
					</div>
					<div class="col-md-7 blog_w3l-2 editContent">
						
						<h3 class="editContent">pellentesque mi non</h3>
						<p class="mt-3 editContent">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut.</p>
					</div>
				</div>
				<div class="row blog_w3l_left2 editContent">
					<div class="col-md-5 blog_w3l-1">
						<img src="../bundles/images/g7.jpg" alt="news image" class="img-fluid">
					</div>
					<div class="col-md-7 blog_w3l-2 editContent">
						
						<h3 class="editContent">pellentesque mi non</h3>
						<p class="mt-3 editContent">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut.</p>
					</div>
				</div>
				
				</div>
			</div>
		</div>
</section>
	<!-- //blog -->	
	<!-- foot-1 -->
	 <section class="foot-1 py-5 editContent" id="contact">
		<div class="container py-lg-5">
			<div class="row foot-1-top">
				<div class="col-lg-3 col-md-6 col-sm-6 foot-1_grid_left editContent">
					<h4 class="mb-3 editContent">Pellentesque mi</h4>
					<div class="foot-top pt-3">
						<ul>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 foot-1_grid_middle editContent">
					<h4 class="mb-3 editContent">Pellentesque mi</h4>
					<div class="foot-top pt-3">
						<ul>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
							<li class="editContent"><a class="editContent" href="#">Semper mod quisturpis nisi</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 foot-1_grid_right editContent">
					<h4 class="mb-4 editContent">Get In Touch</h4>
					<div class="contact_grid_right mt-5 mx-auto text-left">
						<form action="#" method="post">
							<div class="row contact_top">
								<div class="col-sm-6 editContent">
									<input type="text" name="Name" placeholder="Name" required="">
								</div>
								<div class="col-sm-6 editContent">
									<input type="email" name="Email" placeholder="Email" required="">
								</div>
							</div>
							<div class="editContent">							
								<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
							</div>
							<div class="editContent">
								<button type="submit" class="btn">Send Message</button>
							</div>	
						</form>
			</div>
				</div>
			</div>
			
		</div>
	</section>
	<div class="foot_bottom">
		<div class="container">
			<div class="cpy-right text-center py-5">
				<ul class="social_section_1info mb-lg-4">
					<li><a href="#"><span class="fa fa-facebook"></span></a></li>
					<li><a href="#"><span class="fa fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-google"></span></a></li>
					<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				</ul>
				<p>© 2019 Reaping. All rights reserved | Design by
					<a href="http://w3layouts.com"> W3layouts.</a>
				</p>
			</div>
		</div>
	</div>
	 <!-- //foot-1 -->
	 </div>
</body>
</html>